{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bnta/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'bnta/mdb.css' %}">
<link rel="stylesheet" href="{% static 'bnta/mdstyle.css' %}">
 <script type="text/javascript" src="{% static 'bnta/bootstrap.js' %}"></script>
 <script type="text/javascript" src="{% static 'bnta/jquery.js' %}"></script>
 <script type="text/javascript" src="{% static 'bnta/mdb.js' %}"></script>
 <script type="text/javascript" src="{% static 'bnta/popper.js' %}"></script>
  {% comment %} <script type="text/javascript" src="bnta/bootstrap.js"></script>
 <script type="text/javascript" src="bnta/jquery.js"></script>
 <script type="text/javascript" src="bnta/mdb.js"></script>
 <script type="text/javascript" src="bnta/popper.js"></script> {% endcomment %}
 <script type="text/javascript" src="{% static 'bnta/bootstrap.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'bnta/jquery.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'bnta/mdb.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'bnta/popper.min.js' %}"></script>