<br><br><br>
    <a href = "{% url 'patient_signup' %}">Patient Signup </a>&nbsp;&nbsp;&nbsp;    
    <a href = "{% url 'doctor_login' %}">Doctor login </a>  &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'doctor_signup' %}">Doctor Signup</a>&nbsp;&nbsp;&nbsp;
    <a href = "{% url 'patient_login' %}">Patient Login</a> &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'makeappointment' %}">Make Appointment</a> &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'viewappointment' %}">View Appointments</a> &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'validate' %}">Validate Appointment</a> &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'drreport' %}">View Reports</a> &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'createreport' %}">Create Report</a> &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'prescription' %}">Give Prescriptions</a> &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'viewprescription' %}">View Prescription</a> &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'doctorview' %}">Doctor List</a> &nbsp;&nbsp;&nbsp;
    <a href = "{% url 'patientview' %}">Patient List</a><br>&nbsp;&nbsp;&nbsp;