<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Appointment</title>
    {% include 'cssandjs.html' %}
</head>
<body>

    {% include 'navbar.html' with who=who %}
{% comment %} {% if is_mobile == "False" %} {% endcomment %}
   <div style="margin-left:30%;margin-right: 30%; margin-top: 5%">
{% comment %} {% endif %} {% endcomment %}
    <!-- Material form register -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Make Appointment</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

<form action="" method="POST" class="border border-light p-5" enctype="multipart/form-data">
{% csrf_token %}
    <label for="textInput">Doctor EmailId</label>
    <input id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Doctor Email" type="email" name="doctorEmailId">
    
    <label for="textInput">Date of Appointment</label>
    <input class="form-control mb-4" type="date" name="dob"/>

    <label for="textInput">Time of Appointment</label>
    <input class="form-control mb-4" type="time" name="time"/>

     <label for="textInput">Problems</label>
    <input id="textInput" class="form-control mb-4" placeholder="Problems" type="text" name="problems">


    <button class="btn btn-info btn-block my-4" type="submit" name="register" value="Register">Schedule Appointment</button>

</form>
</div>
</div>
</div>

</form>
</body>
</html>