<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>List of Patients</title>
    {% include 'cssandjs.html' %}
</head>
<body>
    {% include 'navbar.html' with who=who %}
    {% if who.category == "Doctor" %}
<h2>Patients List</h2>
{% else %}
<h2>My Profile</h2>
{% endif %}
{% comment %} <table>
    {% for patient in patients %}
    {% include 'patient_list.html' with pat=patient %}
    {% endfor %}   
</table> {% endcomment %}


<!--Table-->
<table id="tablePreview" class="table table-hover table-striped">
<!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>EmailId</th>
      <th>DOB</th>
      <th>Gender</th>
      <th>Reports</th>
      <th>Doctors</th>
      {% if who.category == "Patient" %}
      <th>Balance</th>
      {% endif %}
    </tr>
  </thead>
  <!--Table head-->
  <tbody>
    {% for patient in patients %}
    {% include 'patient_list2.html' with pat=patient who=who counter=forloop.counter %}
    {% endfor %}
</tbody>
</table>



</body>

</html>







