<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login as Patient</title>
    {% include 'cssandjs.html' %}
</head>
<body>
    {% include 'navbar.html' %}

   <div style="margin-left:30%;margin-right: 30%; margin-top: 5%">
    <!-- Material form register -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Patient Login</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

<form action="" method="POST" class="border border-light p-5" enctype="multipart/form-data">
{% csrf_token %}
    <label for="textInput">EmailId</label>
    <input id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" type="email" name="email">

    <label for="textInput">Password</label>
    <input id="textInput" class="form-control mb-4" placeholder="Password" type="password" name="password">

    <label for="textInput">Pin</label>
    <input id="textInput" class="form-control mb-4" placeholder="Port No" type="number" name="port">

    <button class="btn btn-info btn-block my-4" type="submit" name="register" value="Register">Sign In</button>

    <div class="text-center">
        <p>Do no have Account?
            <a href="{% url 'patient_signup' %}">Sign up</a>
        </p>

        <p>or sign in with:</p>

        <a type="button" class="light-blue-text mx-2">
            <i class="fab fa-github"></i>
        </a>
    </div>

</form>
</div>
</div>
</div>

</body>
</html>