<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate Doctor</title>
    {% include 'cssandjs.html' %}
</head>
<body>
    {% include 'navbar.html' with who=who %}

   <div style="margin-left:30%;margin-right: 30%; margin-top: 5%">
    <!-- Material form register -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Rate Doctor</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

<form action="" method="POST" class="border border-light p-5" enctype="multipart/form-data">
{% csrf_token %}
    <label for="textInput">EmailId</label>
    <input id="defaultLoginFormEmail" class="form-control mb-4" placeholder="doctor@email.com" type="email" name="email">

     <label for="textInput">Rating</label>
    <input id="textInput" class="form-control mb-4" placeholder="(0-5)" type="number" name="rating">

    <button class="btn btn-info btn-block my-4" type="submit" name="register" value="Register">Rate Doctor</button>
    </div>

</form>
</div>
</div>
</div>
</body>
</html>